
    <form action= '@Url.Action("GuardarIndumentaria","Home")'>
<div>
    @foreach (string item in Equipos.ListaEquipos)
    {
       
           <p >@item</p> 
       
    }
    <input type="number" name= "Equipo" required>
</div>

<div>
    @foreach (string img in Equipos.ListaMedias)
    {
     <img src="/imagenes/@img" width="100px" height="200px">
    }
    <input type="number" name="Media" required min="1" max="10">
</div>

    <div>
    @foreach (string Pantalon in Equipos.ListaPantalones)
    {
    <img src="/imagenes/@Pantalon"width="100px" height="200px">
    }
    <input type="number"  name = "Pantalon" required min="1" max="10">
</div>

<div>
    @foreach (string Remeras in Equipos.ListaRemeras)
    {
    <img src="/imagenes/@Remeras"width="100px" height="200px">
    }
    <input type="number"  name= "Remera" required  min="1" max="10">
</div>

<input type="submit" value="GuardarIndumentaria"> 
</form>


